@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}

.title{
  width: 30px;
  height: 30px;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select {
  display: flex;
  flex-wrap: wrap; 
  align-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.img-select .img-item {
  width: 90px;  
  height: 100px; 
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    grid-column: 1 / -1; /* 추가된 코드 */
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    height: 400px;
}
.product-price span{
    font-weight: 400;
}
.new-price span{
    color: #256eff;
}
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
  .card{
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-rows: min-content min-content 400px;
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 1000vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: auto;
  }
  .product-imgs{
      width: 600px;
      height: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
