<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UsrLogin</display-name>
    <servlet-name>UsrLogin</servlet-name>
    <servlet-class>usr.UsrLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrLogin</servlet-name>
    <url-pattern>/usr/Login</url-pattern>
  </servlet-mapping>
  <display-name>WebMaket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KakaoLogin</display-name>
    <servlet-name>KakaoLogin</servlet-name>
    <servlet-class>usr.KakaoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakaoLogin</servlet-name>
    <url-pattern>/usr/kakaoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrdMain</display-name>
    <servlet-name>PrdMain</servlet-name>
    <servlet-class>prd.PrdMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdMain</servlet-name>
    <url-pattern>/prd/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidatePhone</display-name>
    <servlet-name>ValidatePhone</servlet-name>
    <servlet-class>usr.ValidatePhone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatePhone</servlet-name>
    <url-pattern>/usr/validatePhone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCode</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>usr.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/usr/validateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsrJoin</display-name>
    <servlet-name>UsrJoin</servlet-name>
    <servlet-class>usr.UsrJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrJoin</servlet-name>
    <url-pattern>/usr/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrdPay</display-name>
    <servlet-name>PrdPay</servlet-name>
    <servlet-class>prd.PrdPay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdPay</servlet-name>
    <url-pattern>/prd/insPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsert</display-name>
    <servlet-name>AdminInsert</servlet-name>
    <servlet-class>admin.AdminInsert</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>2621440000</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsert</servlet-name>
    <url-pattern>/admin/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManager</display-name>
    <servlet-name>AdminManager</servlet-name>
    <servlet-class>admin.AdminManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManager</servlet-name>
    <url-pattern>/admin/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPrdMain</display-name>
    <servlet-name>AdminPrdMain</servlet-name>
    <servlet-class>admin.AdminPrdMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPrdMain</servlet-name>
    <url-pattern>/admin/prdMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidatePwd</display-name>
    <servlet-name>AdminValidatePwd</servlet-name>
    <servlet-class>admin.AdminValidatePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidatePwd</servlet-name>
    <url-pattern>/admin/validatePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPrdDetail</display-name>
    <servlet-name>AdminPrdDetail</servlet-name>
    <servlet-class>admin.AdminPrdDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPrdDetail</servlet-name>
    <url-pattern>/admin/prdDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelete</display-name>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>admin.AdminDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/admin/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrdDetail</display-name>
    <servlet-name>PrdDetail</servlet-name>
    <servlet-class>prd.PrdDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrdDetail</servlet-name>
    <url-pattern>/prd/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsrBasket</display-name>
    <servlet-name>UsrBasket</servlet-name>
    <servlet-class>usr.UsrBasket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrBasket</servlet-name>
    <url-pattern>/usr/basket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsBasket</display-name>
    <servlet-name>InsBasket</servlet-name>
    <servlet-class>prd.InsBasket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsBasket</servlet-name>
    <url-pattern>/prd/insBasket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelBasket</display-name>
    <servlet-name>DelBasket</servlet-name>
    <servlet-class>prd.DelBasket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBasket</servlet-name>
    <url-pattern>/prd/delBasket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KakaoLogout</display-name>
    <servlet-name>KakaoLogout</servlet-name>
    <servlet-class>usr.KakaoLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KakaoLogout</servlet-name>
    <url-pattern>/usr/kakaoLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSelDes</display-name>
    <servlet-name>AdminSelDes</servlet-name>
    <servlet-class>admin.AdminSelDes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSelDes</servlet-name>
    <url-pattern>/admin/selDes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsCmt</display-name>
    <servlet-name>InsCmt</servlet-name>
    <servlet-class>prd.InsCmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsCmt</servlet-name>
    <url-pattern>/prd/insCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelPayHistory</display-name>
    <servlet-name>SelPayHistory</servlet-name>
    <servlet-class>prd.SelPayHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelPayHistory</servlet-name>
    <url-pattern>/prd/selPayHis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelPayHistory</display-name>
    <servlet-name>DelPayHistory</servlet-name>
    <servlet-class>prd.DelPayHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelPayHistory</servlet-name>
    <url-pattern>/prd/delPayList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCmt</display-name>
    <servlet-name>DelCmt</servlet-name>
    <servlet-class>prd.DelCmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCmt</servlet-name>
    <url-pattern>/prd/delCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsrUpdate</display-name>
    <servlet-name>UsrUpdate</servlet-name>
    <servlet-class>usr.UsrUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrUpdate</servlet-name>
    <url-pattern>/usr/usrUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminImgUpdate</display-name>
    <servlet-name>AdminImgUpdate</servlet-name>
    <servlet-class>admin.AdminImgUpdate</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>2621440000</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminImgUpdate</servlet-name>
    <url-pattern>/admin/imgUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>admin.AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/admin/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsrInsreview</display-name>
    <servlet-name>UsrInsreview</servlet-name>
    <servlet-class>usr.UsrInsreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsrInsreview</servlet-name>
    <url-pattern>/usr/insreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdCmt</display-name>
    <servlet-name>UpdCmt</servlet-name>
    <servlet-class>prd.UpdCmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdCmt</servlet-name>
    <url-pattern>/prd/updateCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
</web-app>